@import "tailwindcss";

@theme inline {
 
}

.clip-diagonal {
  clip-path: polygon(27% 0, 100% 0, 100% 100%, 0% 100%);
}


.bg-hero-custom {
  background-image: url('/images/background/Bg-Graphic.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


@keyframes marquee {
          0% { transform: translateX(0); }
          100% { transform: translateX(-50%); }
        }
.animate-marquee {
          animation: marquee 20s linear infinite;
          display: inline-block;
        }
